.podcastAside{
    display: flex;
    flex-direction: column;

    .asideContainer{

        .imagenPodcast{
            width: 30%;
        }
        
    }
}

.asideContainer{ 
    background-color: #f9fafa;
}

.btn{
    margin-bottom: 11px;
    margin-top: -13px;
}
