.footer{
    // --footer-padding: 1.25rem;
    background: #d2d6db;
    color: #4d5760;
    padding: 1.25rem;
    position: relative;
    text-align: center;
    .nav-footer{
        font-size: .875rem;
    }
}