.d-flex.align-items-center.header-nav-post{
    padding: .650em;
}

.d-flex.align-items-center.justify-content-between.select-container{
    width: 80%;
}

.subtitlePost{
    font-size: 1.125rem ;
    margin: 0;
}

.nav-icon-posts{
    margin-right: 1em;
}

.nav-icon-ray{
    margin-left: 1em;
}