.header-nav-post{
    padding: .650em;
}

.d-flex.align-items-center.justify-content-between.select-container{
    width: 100%;
}

.subtitlePost{
    font-size: 1.125rem ;
    margin: 0;
}
.nav-post{
    width: 80%;
}

.nav-icon-posts{
    margin-right: 1em;
}

.nav-icon-ray{
    margin-left: 1em;
}


.crayons-tabs__item{
   border: none;
    outline: none;

    &:hover{
        background-color: #8992f765;
        border-radius: 5px;
        outline: none;
    }

    &:active ,&:focus{
        border-bottom: 3px solid #3B49DF;
        outline: none;
        font-weight: bold;
    }
}

.btn.dropdown-toggle.border.border-dark.drop-nav{
    margin-bottom: 0;
    margin-top: auto;
}