* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainArticle {
  background-color: white;
}

.mainArticle .post-container .post-image {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.post-body {
  border-bottom: 1px solid #8192a5;
  padding: 1em 1em .5em 1em;
}

.post-body-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.post-body-top .post-body-top-autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post-body-top .post-body-top-autor img {
  width: 2em;
  border-radius: 50%;
}

.post-body-top .post-body-top-autor img:hover {
  cursor: pointer;
}

.post-body-top .post-body-top-autor-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: .25em;
  line-height: 1em;
}

.post-body-top .post-body-top-autor-desc a {
  color: #4D5760;
  text-decoration: none;
}

.post-body-content {
  padding-left: 2.25em;
}

.post-body-content h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.post-body-content h2:hover {
  color: #3b49df;
}

.post-body-content .post-body-content-tags a {
  text-decoration: none;
  color: #64707d;
}

.post-body-content .post-body-content-tags a:hover {
  color: black;
}

.post-body-content .post-body-content-bottom {
  margin-top: .5em;
}

.post-body-content .post-body-content-bottom .post-body-content-bottom-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-body-content .post-body-content-bottom .post-body-content-bottom-save button {
  background-color: #c3c9d1e1;
  color: black;
  border: none;
}

.post-body-content .post-body-content-bottom .post-body-content-bottom-save button:hover {
  background-color: #acb0b4;
}

.main-post-tag {
  color: #64707d;
  line-height: 1.3em;
  display: inline-block;
  padding: .25em;
  font-size: .85em;
}

.main-post-tag:hover {
  color: black;
}

.bold {
  font-weight: bold;
}

a.bold:hover {
  color: black;
}

.post-body-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .875em;
  line-height: 1.25em;
}

.post-body-content-bottom .post-body-content-bottom-details button {
  padding-left: .2em;
  padding-right: 1em;
  color: black;
  outline: none;
  border: none;
  background-color: white;
}

.post-body-content-bottom .post-body-content-bottom-details button:hover {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f1eded;
  height: 2em;
  border-radius: 5px;
}

.time-read {
  color: #64707d;
  margin-right: .5em;
}

@media only screen and (min-width: 768px) {
  .mainArticle {
    border-radius: 5px;
    margin-bottom: .5em;
    margin-right: .5em;
  }
  .mainArticle .post-container .post-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .post-body {
    border-bottom: none;
  }
}

.header-nav-post {
  padding: .650em;
}

.d-flex.align-items-center.justify-content-between.select-container {
  width: 100%;
}

.subtitlePost {
  font-size: 1.125rem;
  margin: 0;
}

.nav-post {
  width: 80%;
}

.nav-icon-posts {
  margin-right: 1em;
}

.nav-icon-ray {
  margin-left: 1em;
}

.crayons-tabs__item {
  border: none;
  outline: none;
}

.crayons-tabs__item:hover {
  background-color: #8992f765;
  border-radius: 5px;
  outline: none;
}

.crayons-tabs__item:active, .crayons-tabs__item:focus {
  border-bottom: 3px solid #3B49DF;
  outline: none;
  font-weight: bold;
}

.btn.dropdown-toggle.border.border-dark.drop-nav {
  margin-bottom: 0;
  margin-top: auto;
}

.container-fluid {
  background-color: #eef0f1;
}

.container-fluid a {
  cursor: pointer;
  text-decoration: none;
  color: #202428;
}

.aside-left .nav_profile:hover {
  background-color: #d2d6db;
}

.aside-left .sidebar-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.aside-left .sidebar-profile .avatar {
  border-radius: 100%;
  width: 38%;
  height: 38%;
  display: inline-block;
  vertical-align: bottom;
}

.aside-left .sidebar-profile .nombre .name {
  font-weight: 700 !important;
  font-size: 1rem !important;
  color: black;
  word-break: break-word !important;
}

.aside-left .sidebar-profile .nombre .username {
  font-size: var(--fs-s) !important;
  opacity: 0.75 !important;
  color: #202428;
  word-break: break-word !important;
}

.aside-left .sidebar-navigation-links .sidebar_navigation {
  padding: 0.5rem;
}

.aside-left .sidebar-navigation-links .sidebar_navigation:hover {
  background-color: #d2d6db;
}

.aside-left .tags {
  margin-bottom: 10rem !important;
}

.aside-left .tags .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-left .tags .header_nav .titulo_tags {
  font-size: 1rem;
}

.aside-left .imagen_bottom .imagen_left {
  margin-top: 15px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.aside-left .imagen_bottom .imagen_shop {
  color: #3b49df;
  font-size: 1.5em;
  font-weight: bold;
}

.aside-left {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .5rem;
  background: #eef0f1;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.aside-left .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: env(safe-area-inset-bottom);
}

.aside-left .links .link_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.aside-left .links .link_button .link_imagen {
  padding: 0.7rem;
}

.aside-left .links .link_button .link_imagen:hover {
  background-color: #d2d6db;
  border-radius: 50%;
}

/* version tablet medium */
@media only screen and (min-width: 768px) {
  .aside-left {
    position: relative;
  }
  .aside-left .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aside-left .links .link_button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container_footer {
  background: #d2d6db;
}

.row-footer {
  color: #4d5760;
  padding: 1.25rem;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.row-footer .nav-footer {
  font-size: .875rem;
}

.row-footer .nav-footer nav a {
  display: inline-block !important;
}

.row-footer .divisor-footer {
  border: none;
  border-top: 1px solid #4d5760;
  opacity: 0.15;
}

.row-footer .texto-link-footer {
  color: #202428;
  font-weight: 700;
  font-size: .875rem;
}

.row-footer .fixed-top {
  left: 90%;
}

.podcastAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.podcastAside .asideContainer .imagenPodcast {
  width: 30%;
}

.asideContainer {
  background-color: #f9fafa;
}

.btn {
  margin-bottom: 11px;
  margin-top: -13px;
}

.authorBio .asideContainerP .imagenTwarog {
  width: 20%;
  border-radius: 50%;
}

.asideContainerP {
  background-color: #f9fafa;
}

.nav-search-top-svg {
  width: 100%;
}

.div-incon-search {
  width: 52%;
}

.div-incons-search {
  width: 40%;
}

.nav-search-top {
  background-color: #f9fafa;
}

.nav-search-top:active, .nav-search-top:focus {
  border-bottom: 2px solid #3B49DF;
  border-right: 2px solid #3B49DF;
  border-left: 1px solid #3B49DF;
  border-top: 1px solid #3B49DF;
  outline: none;
}

.profile-nav-top {
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .div-search {
    width: 100%;
  }
}

.main-contenido {
  background-color: #eef0f1;
}

.Post_main .articulo-main {
  border-radius: 5px;
  background: #fff;
  color: #08090a;
  -webkit-box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
          box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
  overflow-wrap: anywhere;
}

.Post_main .articulo-main .header_articulo-contenido {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.Post_main .articulo-main .header_articulo-contenido .imagen-contenido {
  position: relative;
  width: 100%;
  padding-top: 42%;
}

.Post_main .articulo-main .header_articulo-contenido .articulo-parrafo {
  font-weight: 700;
  line-height: 1.25;
  font-size: 1.875;
}

.Post_main .articulo-main .header_articulo-contenido .boton-subheader {
  border-radius: 10px;
  padding: .175rem .55rem;
}

.Post_main .articulo-main .plaintext {
  background: #08090a;
  color: #f8f8f2;
  overflow: auto;
  padding: .5rem;
  border-radius: 5px;
}

.Post_main .articulo-main .section-discussion {
  border-radius: 5px;
}

.Post_main .articulo-main .section-discussion .post-body-top .area-texto {
  resize: vertical;
  padding: 0.5em;
  max-height: 40vh;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */